*{
    background-color: black;
    color: white;
}

 #r1,#r2{
  
 }
.row{
    margin-left: 0px;
    margin-right:0px;   
    flex-wrap: wrap;
}
 #pageHeading{
     text-align: center; 
     margin: 0px;
 
 }
 #icon{
     text-align: center; 
     
 }
 #icon2{
    text-align: center; 
    padding-top: 18px;
 }
 .navbar.navbar-expand-lg.navbar-dark.bg-black{
    background-color: black;
    color: white;
}

#footer{
    border-style: hidden;
    margin-bottom: 20px;
    color: white;
}
#subject{
    font-weight:bold;
    font-size: 20px;
}
 