*{
    background-color: black;
    color: white;
}

 #r1,#r2{
     display: flex;
     flex-direction:row-reverse;;
     align-items: inherit;
     justify-content: center;
 }
.row{
    margin-left: 0px;
    margin-right:0px;   
    flex-wrap: wrap;
}
 #pageHeading{
     text-align: center; 
     text-decoration-line:underline;
     margin: 0px;
 
 }
 #icon{
     text-align: center; 
     
 }
 #icon2{
    text-align: center; 
    padding-top: 18px;
 }
 .navbar.navbar-expand-lg.navbar-dark.bg-black{
    background-color: black;
    color: white;
}

#footer{
    border-style: hidden;
    margin-bottom: 20px;
    color: white;
}
#subject{
    font-weight:bold;
    font-size: 20px;
}
 #c1,#c2,#c3,#c4{
   
    
    margin:10px;
} 
