*{
    box-sizing: border-box;
    
    background-color: black;
  
    
}
a{
    color:black;
  
}
#navbarnav{
  
    font-family: 'Montserrat', sans-serif;
    
}

.Main{
   background-color: black;
    width:100%;
    
}
.MyImage{
    width:300px;
    max-width: 100%;
    height: 400px;
    margin: 20px;
    border-radius: 3px;
}
#name{
    font-size: 40px;
    align-self: flex-start;
   
  
}


#details,#contact{
    margin-top: 20px;
    margin-bottom: 20px;
    
    color: white;
}

#footer{
    border-style: hidden;
    margin-bottom: 20px;
    color: white;
}


.wrapper
{
    text-align: center !important;
    margin: 10px;
}
#ip1,#ip2,#ip3,#ip4{
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    margin-bottom: 10px;  
}
#ip4{
    border-radius: 5px;
    margin-left: 7px;
    max-width: 95%;
    border-color:rgb(172, 172, 172);
}


#btn{
    display:inline-block;
    text-align: center !important;
    margin-left: 10px;
    margin-top: auto; 
    font-size: 20px;
    width:150px;
}

#container{
    display: flex;
    flex-direction:column;
  
   
}

.progif{
    max-width: 100%;
    height: auto;
}
.navbar.navbar-expand-lg.navbar-dark.bg-black{
    background-color: black;
    color: white;
}

#name{
    position: relative;
    left:20px;
    top:80px;
    text-align: center;
    animation: mymove1 0.9s 1;
}

#heading{

    text-align: center;
    font-size:30px;
    animation: mymove 0.9s 1;
}
#heading2{
   
    text-align: center;
    font-size:30px;
    animation: mymov3 0.9s 1;
}
#info1{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}



@keyframes mymove{
    0% 
    {
        margin-top: -30px;
    }
    30%
    {
        margin-top: -30px;
    }
}

@keyframes mymove1{
    0% 
    {
        margin-left: -20px;
    }
    30%
    {
        margin-left: -20px;
    }
}

@keyframes mymove3{
    0% 
    {   
        margin-bottom: -20px;
    }
    30%
    {
        margin-bottom: -20px;
    }
}
@keyframes mymove4{
    0% 
    {   
        margin-left: -20px;
    }
    30%
    {
        margin-left: -20px;
    }
}