*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a{
   color: white;
}
/* NAVBAR */
#navbarnav{
    font-family: 'Montserrat', sans-serif;
}
.navbar.navbar-expand-lg.navbar-dark.bg-black{
    background-color: black;
    color: white;
    text-align: center;
}



/* CONTAINERS */
.Main{
   background-color: black;
}
.aboutme{
    border-style: solid;
    border-width: 15px;
    border-color: #2193b0;
    height:60%;
    width:70%;
    left:30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#NameDecription{

    display:flex;
    justify-content: center;
    align-items: center;
    
}


.MyImage{
    width:300px;
    max-width: 100%;
    height: 400px;
    margin: 20px;
    border-radius: 3px;
}

#iconCircle{
    animation: zoomOut 4s;
}

#iconExclamation{
    animation: zoomIn 4s;
}
#details,#contact{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

#footer{
    border-style: hidden;
    margin-bottom: 20px;
    color: white;
}

#desc{
    height:540px;
    display:flex;
    justify-content: center;
    align-items: center;
}


.wrapper
{
    text-align: center !important;
    margin: 10px;
}
#ip1,#ip2,#ip3,#ip4{
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    margin-bottom: 10px;  
}
#ip4{
    border-radius: 5px;
    margin-left: 7px;
    max-width: 95%;
    border-color:rgb(172, 172, 172);
}


#btn{
    display:inline-block;
    text-align: center !important;
    margin-left: 10px;
    margin-top: auto; 
    font-size: 20px;
    width:150px;
}

#container{
    display: flex;
    flex-direction:column;
}



#info1{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
#circleOne{
    animation: zoomIn 3s;
    
}
#iconExclamation{
    animation:zoomOut 3s infinite;
}

/* Headings IN Page */

.paralh1{
    color: white;
    font-weight: bolder;
    font-size: 2em;
}

#heading{
    text-align: center;
    font-size:30px;
    color:#FF8008;
    animation: rotateInUpRight 4s ;
 
}

#name{
    font-size: 40px;
    align-self: flex-start;
    position: relative;
    text-align: center;
    animation: zoomIn 4s ;
}


/* ANIMATION */

@keyframes mymove{
    0% 
    {
        margin-top: -30px;
    }
    30%
    {
        margin-top: -30px;
    }
}

@keyframes mymove1{
    0% 
    {
        margin-left: -20px;
    }
    30%
    {
        margin-left: -20px;
    }
}
@keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  @keyframes zoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes rotateInUpRight {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
      }
    
      to {
        transform: translate3d(0, 0, 0);
      }
    
  }
@keyframes mymove3{
    0% 
    {   
        margin-bottom: -20px;
    }
    30%
    {
        margin-bottom: -20px;
    }
}
@keyframes mymove4{
    0% 
    {   
        margin-left: -20px;
    }
    30%
    {
        margin-left: -20px;
    }
}

/* Base Parallax Element Style*/ 
.paral {
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
   
    }
     
    /* Paragrapgh for Parallax Section */ 
    .paral p {
    color:#f5f5f5;
    text-align: center;
    }
     
    /* Heading for Parallax Section */ 
    .paral h1 {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 100px;
    line-height: 100px;
    }
     
    /* Custom Button Element for Parallax Section */
    .paral button {
    font-size: 30px; 
    border-radius: 5px;
    background-color: #2193b0;
    padding: 6px 12px;
    line-height: 40px;
    margin: 15px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    }
     
div.button {
    text-align: center;
    }
     
    /* Images for 3 Parallax Sections */
    .paralsec1 {
        background: #FF512F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .paralsec2 {
    background-image: url("https://images.unsplash.com/photo-1518773553398-650c184e0bb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    display: flex;
    justify-content:center;
    align-items: center;
}
    

    /* Slides Carousel */

   #slides{
    background: #FF8008;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 4px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
   }
   
    
